
@{
    ViewData["Title"] = "AdminUserMan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<UserModel> users = (List<UserModel>)ViewData["Users"];
}

<div class="content2">
    <h3 class="p-3" style="font-weight: 800;">Users List</h3>
        <a asp-action="AddUser" asp-controller="User" style="text-decoration: none; color: white;" class="btn-dark btnall" id="AddUser">Add New </a>
</div>
<table class="table1">
    <thead>
        <tr>
            <th class="p-2"> User #</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Role</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < users.Count; i++)
        {
        <tr>
            <td class="p-2 ">@i</td>
            <td>@users[i].Name</td>
            <td>@users[i].Contact</td>
            @if (users[i].Email != null)
            {
                <td>@users[i].Email</td>
            }
            else
            {
                <td>No Email</td>
            }
            @if (users[i].Role != null)
            {
                <td>@users[i].Role.Name</td>
            }
            else 
            {
        <td>Customer</td>
            }

            <td>
                <a style="border:none; background-color: white;" id="UpdateUser" asp-action="UpdateUser" asp-controller="User" asp-route-id="@users[i].Id"><img class="optionImage" src="~/Icons/edit.png" alt="" srcset=""></a>
                <a style="border:none; background-color: white;" id="DeleteUser" asp-action="DeleteUser" asp-controller="User" asp-route-id="@users[i].Id"><img class="optionImage" src="~/Icons/delete.png" alt="" srcset=""></a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="ProductsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="mydialog-body" class="modal-body">

            </div>
        </div>
    </div>
</div>



@section Model{

    <script>
        $("#AddUser,#UpdateUser,#DeleteUser").click(function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            $.ajax(
                {
                    url: url,
                }
            ).done(function (contactform) {

                $("#mydialog-body").html(contactform);
                $("#ProductsModal").modal();
            }).fail(function (status) {
                alert(status.status);
            });
        })
    </script>

}